---
import "../styles/global.css";
import "../styles/tutorial.css";
import Sidebar from "../components/Sidebar.astro";
import { ClientRouter, fade } from "astro:transitions";
import ThemeToggle from "../components/ThemeToggle.astro";
const { frontmatter, headings } = Astro.props;
const majorHeadings = headings.filter((header) => header.depth < 4);

const isChrome =
	navigator.userAgent.includes("Chrome") &&
	navigator.vendor &&
	navigator.vendor.includes("Google Inc");
---

<html lang="en" transition:animate="none">
    <head>
        <ClientRouter />
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{frontmatter.title}</title>
    </head>
    <body class="h-screen">
        <div class="fixed top-4 right-4 z-10">
            <ThemeToggle />
        </div>

        <Sidebar
            title={frontmatter.title}
            sections={majorHeadings}
            class="h-dvh"
            style="z-index: 5;"
        />

        <div
            class="ml-80 mb-4 relative"
            style="z-index: 0; margin-right: 10%;"
            transition:animate={isChrome ? fade({ duration: "0.3s" }) : "none"}
        >
            <h1 class="">{frontmatter.title}</h1>
            <hr class="h-0.5 bg-black opacity-30" />
            <div class="markdown">
                <slot style={markdownStyle} class={markdownClass} />
            </div>
        </div>
    </body>
</html>

<style is:global>
    @keyframes collapse {
        0% {
            opacity: 0;
            transform-origin: top;
            transform: scaleY(0);
            max-height: 0;
            overflow: hidden;
        }
        100% {
            opacity: 1;
            transform-origin: top;
            transform: scaleY(1);
            max-height: 100vh;
        }
    }
</style>
