---
import '../styles/global.css';
import '../styles/tutorial.css';
import Footer from '../components/Footer.astro';
import Sidebar from '../components/Sidebar.astro';
import { ClientRouter, slide } from "astro:transitions";
const { frontmatter, headings } = Astro.props;
const majorHeadings = headings.filter(header => header.depth < 4);
---
<html lang="en">
  <head>
    <ClientRouter />
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{frontmatter.title}</title>
  </head>
  <body>

    <Sidebar title={frontmatter.title} sections={majorHeadings} />

    <div class="ml-70 mr-70" transition:animate={slide({ direction: "reverse", duration: "0.5s"})}}>
      <h1>{frontmatter.title}</h1>
      <slot />
    </div>

    <Footer />

  </body>
</html>

<style is:global>
@keyframes collapse {
  0% {
    opacity: 0;
    transform-origin: top;
    transform: scaleY(0);
    max-height: 0;
    overflow: hidden;
  }
  100% {
    opacity: 1;
    transform-origin: top;
    transform: scaleY(1);
    max-height: 100vh;
  }
}
</style>
